p {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}